body {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

h1 {
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  width: 190px;
  height: 79px;
  margin: 150px auto 80px auto; }
  @media (min-width: 1024px) {
    h1 {
      margin: 150px auto; } }

h1 a {
  color: transparent; }

h2 {
  text-align: center;
  font-size: 2rem; }

h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 0; }

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal; }

a {
  text-decoration: none;
  font-weight: normal;
  color: #000; }

p {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0; }

span {
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

li {
  display: block;
  list-style-type: none;
  margin: 0; }

button {
  background: none;
  border: none; }

button:focus, button:active, button:focus:active {
  box-shadow: none;
  outline: 0;
  -webkit-box-shadow: none; }

section {
  overflow: hidden;
  padding: 5%; }

footer {
  padding: 3% 0 2% 0;
  background-color: #d2d2d2;
  overflow: hidden;
  text-align: center; }

footer a {
  border: 1px solid #000;
  display: inline-block;
  padding: 2px 5px; }

.background-juego {
  background: #d2d2d2; }

@media (min-width: 768px) {
  .game-wrapper {
    width: 85%;
    margin-left: 13%; } }
@media (min-width: 1024px) {
  .game-wrapper {
    margin-left: 6%; } }

.main-nav {
  display: block;
  margin: 5% 3%; }
  @media (min-width: 768px) {
    .main-nav {
      margin: 2% 3%; } }

.logo img {
  display: none; }
  @media (min-width: 768px) {
    .logo img {
      display: inline-block; } }

.main-nav li {
  display: inline-block;
  font-size: 20px;
  margin-right: 15px; }
  .main-nav li a {
    height: 80px;
    display: inline-block;
    vertical-align: middle; }

.list-lang-item a {
  text-decoration: none;
  color: #515151;
  font-size: 1.5rem; }

.list-lang-item button {
  color: #515151;
  margin: 0;
  padding: 0;
  font-size: 30px;
  border: none; }

.content-lang {
  float: right;
  margin: 3% 25%; }
  @media (min-width: 768px) {
    .content-lang {
      margin: 2% 3%; } }

.list-lang {
  list-style: none;
  width: 0;
  position: absolute;
  z-index: 1; }
  @media (min-width: 768px) {
    .list-lang {
      position: initial;
      display: block;
      width: 100%; } }

.list-lang-item {
  width: 100%;
  background: #fff;
  border: 3px solid #515151;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  width: 40px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }
  @media (min-width: 768px) {
    .list-lang-item {
      position: initial;
      display: inline-block; } }

@media (min-width: 768px) {
  #close {
    display: none; } }

.list-lang li:first-child + li {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }
  @media (min-width: 768px) {
    .list-lang li:first-child + li {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } }

.list-lang li:last-child {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }
  @media (min-width: 768px) {
    .list-lang li:last-child {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } }

.selected {
  background: #515151;
  z-index: 3000; }

.selected a {
  color: #fff; }

.position0 {
  top: 0; }

.position1 {
  top: 55px; }

.position2 {
  top: 110px; }

.position3 {
  top: 165px;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }
  @media (min-width: 768px) {
    .position3 {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } }

.position4 {
  top: 220px; }

header {
  background-color: #d2d2d2;
  overflow: hidden;
  max-height: 500px;
  padding-bottom: 40px; }
  @media (min-width: 1024px) {
    header {
      max-height: 700px;
      padding-bottom: 80px; } }

header p {
  text-align: center; }

.play {
  background: url("../img/play.png") no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  margin: 15px auto;
  display: block; }

.lang-select {
  float: right;
  margin: 2% 3%; }

.lang-select li {
  display: inline-block; }

.about {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about {
      width: 49%; }
      .about .right {
        float: right; }
      .about .left {
        float: left; } }
  @media (min-width: 1100px) {
    .about {
      width: 1100px; } }

.about li {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  height: 260px;
  position: relative; }
  @media (min-width: 768px) {
    .about li {
      margin: 10px 0;
      max-width: 1100px;
      margin: 50px 0;
      box-sizing: border-box;
      height: 290px; } }

.about .about-image > :first-child {
  position: relative;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  width: 100%;
  height: 260px; }
  @media (min-width: 768px) {
    .about .about-image > :first-child {
      position: initial;
      transition: initial;
      z-index: initial;
      height: initial; } }

.about-image img {
  max-width: none;
  position: absolute;
  right: 0; }

.about-content {
  position: absolute;
  top: 0;
  height: 260px;
  max-width: 480px; }
  @media (min-width: 768px) {
    .about-content {
      position: initial; } }

.about-content p {
  font-size: 15px; }
  @media (min-width: 768px) {
    .about-content p {
      font-size: 18px; } }

.about-content p:nth-child(3) {
  display: none; }
  @media (min-width: 768px) {
    .about-content p:nth-child(3) {
      display: block; } }

.about-content h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  z-index: 3; }

.about-image {
  max-width: 480px;
  height: 260px;
  margin: 20px auto;
  position: relative;
  transition: opacity 1s ease-in-out;
  z-index: 1; }
  @media (min-width: 768px) {
    .about-image {
      margin: 0;
      position: initial;
      transition: initial;
      z-index: initial;
      height: initial; } }

.about .about-image:hover > :first-child {
  opacity: 0; }
  @media (min-width: 768px) {
    .about .about-image:hover > :first-child {
      opacity: 1; } }

.game-nav {
  position: fixed;
  display: none; }
  @media (min-width: 768px) {
    .game-nav {
      display: block; } }

.list-game {
  width: 200px;
  text-align: center; }

.list-game-item {
  margin: 20px; }

.content-history {
  max-width: 600px;
  margin: 20px auto; }

.section-history {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid; }

.acordion-content {
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .acordion-content {
      display: none; } }

.block {
  color: #fff;
  padding-top: 5px;
  box-shadow: 0 1px 2px #ccc; }

.block input[type='radio']:checked ~ .info {
  height: 100%;
  max-height: 480px; }

.block1 {
  background-color: #B4B4B4; }

.block2 {
  background-color: #CECCCC; }

.block3 {
  background-color: #B4B4B4; }

.block4 {
  background-color: #CECCCC; }

input[type='radio'] {
  width: 100%;
  display: none; }

label {
  width: 450px;
  max-width: 100%;
  cursor: pointer;
  text-align: right; }

span {
  font-family: 'Arial';
  font-weight: bold;
  display: block;
  padding-right: 4%;
  padding-bottom: 100px;
  margin: 0;
  cursor: pointer;
  margin-right: 4%; }

.info {
  background: #fff;
  color: #222;
  width: 100%;
  padding: 0 15px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  height: auto;
  max-height: 0;
  transition: max-height 0.9s ease-in-out; }

.close {
  float: right;
  width: 25px;
  height: 25px;
  padding-left: 100%;
  margin: 5% 0; }

.left-close {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  Z-index: 1; }

.right-close {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  Z-index: 2; }

.characters-wrapper {
  overflow: hidden;
  width: 900px;
  height: 540px;
  margin: 0 auto; }

.main-char-nav {
  width: 900px;
  height: 540px;
  background-image: url("../img/characters/family-photo.png");
  z-index: 1;
  box-sizing: border-box; }

.char-details {
  background-color: #5F5F5F;
  overflow: hidden;
  position: absolute;
  width: 900px;
  margin-top: -540px;
  z-index: 2; }

.char-nav {
  margin: 0 auto;
  text-align: left;
  padding: 2% 0; }

.char-details .char-nav {
  text-align: center; }

.char-nav-character {
  margin: 0 5%; }

.char-nav-character h2 {
  font-size: 1rem; }

.character {
  padding: 0 2%;
  margin-left: 20px;
  height: 450px;
  background-color: inherit;
  border: none;
  width: 19%; }

.details {
  overflow: hidden;
  padding: 5% 8% 0 8%; }

.details img {
  float: left;
  margin: 0 8%; }

.hidden {
  display: none; }

.controls {
  overflow: hidden;
  position: absolute;
  width: 100%; }

.controls img {
  border-radius: 50%;
  height: 40px;
  width: 40px; }

.exit {
  position: absolute;
  display: block;
  margin-bottom: 100px;
  width: 100%; }

.back {
  position: absolute;
  left: 0px;
  top: 200px; }

.foward {
  position: absolute;
  right: 0px;
  top: 200px; }

.hidden {
  visibility: hidden; }

@media (min-width: 768px) {
  .section-gallery h2 {
    display: none; } }

.section-gallery img {
  height: auto;
  width: inherit;
  max-width: 100%; }
  @media (min-width: 768px) {
    .section-gallery img {
      height: initial;
      width: initial;
      max-width: initial; } }

.section-gallery {
  padding: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .section-gallery {
      padding: 5%;
      width: initial; } }

.slider-content {
  display: none;
  width: 100%; }
  @media (min-width: 768px) {
    .slider-content {
      display: initial;
      width: initial; } }

.first {
  display: block; }
  @media (min-width: 768px) {
    .first {
      display: initial; } }

.slider-image {
  height: 610px;
  width: 100%; }
  @media (min-width: 768px) {
    .slider-image {
      height: initial;
      width: initial; } }

@media (min-width: 768px) {
  .content-counter {
    display: none; } }

.title {
  margin: 0;
  text-align: center;
  width: 100%; }

.gallery-imgs {
  margin: 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .gallery-imgs {
      list-style: none;
      text-align: center; } }

@media (min-width: 768px) {
  .gallery-container {
    margin: 0 auto;
    width: 80%; }

  .gallery-imgs li {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    padding: 10px 10px 25px 10px;
    vertical-align: top;
    width: 33%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .gallery-imgs li {
      padding: 5px 5px 10px 5px; } }

@media (min-width: 768px) {
  .gallery-imgs li img {
    height: auto;
    max-width: 100%; }

  .gallery-imgs .pic-1 {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); }

  .gallery-imgs .pic-2 {
    margin-top: 20px;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg); }

  .gallery-imgs .pic-3 {
    left: 5px;
    margin-top: -25px;
    position: relative;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg); }

  .gallery-imgs .pic-4 {
    margin-top: -10px;
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg); }

  .gallery-imgs .pic-5 {
    position: relative;
    right: 15px;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg); }

  .gallery-imgs .pic-6 {
    left: 5px;
    position: relative;
    margin-top: -22px;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg); }

  .gallery-imgs .pic-7 {
    margin-top: -40px;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg); }

  .gallery-imgs .pic-8 {
    margin-top: 25px;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); }

  .gallery-imgs .pic-9 {
    margin-top: -60px;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg); }

  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999; }
    .modal .full-picture {
      height: 80%;
      margin: 5% auto;
      text-align: center;
      max-width: 80%; }
    .modal .previous {
      left: 2%;
      position: absolute;
      top: 50%; }
    .modal .exit {
      position: absolute;
      right: 2%;
      top: 5%;
      width: 40px; }
    .modal .next {
      position: absolute;
      right: 2%;
      top: 50%; } }
.team-copy {
  width: 500px;
  margin-left: 22px;
  margin-bottom: 10px;
  overflow: hidden; }

.team-logo img, .spon-list img {
  width: 100%; }

.team-logo {
  width: 40%;
  max-width: 288px;
  display: inline-block; }
  @media (min-width: 1024px) {
    .team-logo {
      width: inherit; } }

.fairplay {
  float: left; }
  @media (min-width: 1024px) {
    .fairplay {
      float: inherit; } }

.cetav {
  float: right; }
  @media (min-width: 1024px) {
    .cetav {
      float: inherit; } }

.team {
  overflow: hidden;
  margin: 0 auto;
  max-width: 780px; }
  @media (min-width: 1024px) {
    .team {
      max-width: 1100px; } }

.team-and {
  font-size: 40px;
  display: inline-block;
  text-align: center;
  width: 80px;
  padding-top: 28px; }
  @media (min-width: 1024px) {
    .team-and {
      padding-top: 0;
      height: 95px;
      vertical-align: bottom; } }

.spon-list {
  overflow: hidden;
  margin: 0 auto;
  max-width: 670px;
  margin-top: 20px; }
  @media (min-width: 1024px) {
    .spon-list {
      max-width: 990px;
      margin-top: 35px; } }

.spon-list li {
  display: inline-block;
  max-width: 158px;
  width: 23.5%; }

#hidden {
  display: none; }
  @media (min-width: 1024px) {
    #hidden {
      display: inline-block; } }

/*# sourceMappingURL=style.css.map */
