.close-lang,
.close,
.down-arrow,
.next-arrow,
.play-arrow,
.previous-arrow,
.download-mac,
.download-win,
.up-arrow {
	background: url('../img/sprite.png') no-repeat;
	cursor: pointer;
}

.close-lang {
	background-position: -144px -142px;
	border: 1px solid $main-color;
	display: block;
	height: 38px;
	padding: 2px 5px;
	position: absolute;
	width: 36px;
	@media(min-width: 768px) {
		display: none;
	}
}

.close {
	background-position: -42px 4px;
	height: 52px;
	margin: 20px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 51px;
	z-index: 1;

	&:hover {
		background-position: -201px -4px;
	}

	@media screen and (min-width: 1024px) {
		margin: 30px 40px;
	}
}

.up-arrow {
  background-position: -14px -1px;
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 10px;
}

.down-arrow {
	background-position: 1px -1px;
	height: 9px;
	width: 10px;
	margin-left: 10px;
	display: inline-block;
}

.next-arrow {
	background-position: 0px -21px;
	height: 66px;
	width: 50px;
	right: 2%;
	position: absolute;
	top: 40%;

	&:hover {
		background-position: -135px -6px;
	}

	@media (min-width: 1280px) {
		right: 5%;
	}
}

.play-arrow {
	background-position: -50px -47px;
	border-radius: 100%;
	height: 77px;
	width: 77px;
}

.previous-arrow {
	background-position: -225px -69px;
	height: 66px;
	left: 2%;
	position: absolute;
	top: 40%;
	width: 50px;

	&:hover {
		background-position: -165px -70px;
	}

	@media (min-width: 1280px) {
		left: 5%;
	}
}

.download-mac {
	background-position: 0px -123px;
}

.download-win {
	background-position: -68px -123px;
}
