// 
// Estilos para los elementos base y footer
//

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  width: 190px;
  height: 79px;
  margin: 200px auto 80px auto;
  @media (min-width: 1024px) {
    margin: 150px auto;
  }
}

h1 a {
  color: transparent;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

span {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style-type: none;
  margin: 0;
}

button {
  background: none;
  border: none;
}
section {
  overflow: hidden;
  padding:5%;
}
