//
// Estilos para los elementos base y footer
//

@mixin font-size($size) {
	font-size: $size + px;
	font-size: ($size / 10) + rem;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: #000;
	font-family: $text-sans;
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

button:active,
button:focus,
button:focus:active {
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: 0;
}

footer {
	background-color: #d2d2d2;
	overflow: hidden;
	padding: 3% 0 2% 0;
	text-align: center;
}

footer a {
	border: 1px solid #000;
	display: inline-block;
	padding: 2px 5px;
}

h1 {
	background: url("../img/logo.png") no-repeat;
	background-size: cover;
	height: 80px;
	margin: 150px auto 80px auto;
	width: 190px;
	@media (min-width: 1024px) {
		margin: 150px auto;
	}
}

h1 a {
	color: transparent;
}

h2 {
	font-family: $text-serif;
	text-align: center;
	@include font-size(20);
}

h3 {
	font-family: $text-serif;
	@include font-size(18);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: block;
	list-style-type: none;
	margin: 0;
}

p {
	font-family: $text-sans;
	@include font-size(10);
}

section {
	overflow: hidden;
	padding: 5% 0;
}

.background-juego {
	background-image: url(../img/desktop-background.jpg);
}

.mobil-game-wrapper{
	display: block;
	@media (min-width: 768px) {
		display: none;
	}
}
