// Estilos para los elementos base y footer

html {
	box-sizing: border-box;
	font-size: 10px;
}

* {
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: #000;
	font-family: $text-sans;
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

button:active,
button:focus,
button:focus:active {
	box-shadow: none;
	outline: 0;
}

footer {
	background-color: #d2d2d2;
	margin-top: 50px;
	overflow: hidden;
	padding: 3% 0 2% 0;
	text-align: center;
}

footer a {
	border: 1px solid #000;
	display: inline-block;
	padding: 2px 5px;
}

h1 {
	background: url("../img/logo.png") no-repeat;
	background-size: cover;
	height: 80px;
	margin: 50px auto;
	width: 190px;
	@media (min-width: 1024px) {
		margin: 150px auto;
	}
}

h1 a {
	color: transparent;
}

h2, h3, h4 {
	font-family: $text-serif;
}

h2 {
	@include font-size(30);
	margin: 30px 0;
	text-align: center;
}

h3 {
	@include font-size(26);
}

h4 {
	@include font-size(14);
}

li {
	display: block;
	list-style-type: none;
}

p {
	@include font-size(16);
	font-family: $text-sans;
	padding-bottom: 16px;
}

section {
	overflow: hidden;
}

.home-background {
  background-color: #1e2631;
}

.mobil-game-wrapper{
	display: block;
	@media (min-width: 768px) {
		/* High-end resolutions */
		display: none;
	}
}
