section {
	overflow: hidden;
}

.game-container {

	@media (min-width: 768px) {
		background-image: url(../img/bg/desktop-bg.png);
		box-shadow: inset 0 85px 235px 102px rgba(49, 26, 4, .8);
	}
}

.game-wrapper {
	padding-top: 50px;
	width: 100%;

	@media (min-width: 768px) {
		margin: 0 auto;
		padding-top: 200px;
		width: 85%;
	}

	@media (min-width: 1280px) {
		float: right;
		padding-top: 200px;
	}
}
