section {
    overflow: hidden;
}

.game-wrapper {
	padding-top: 150px; 
    @media (min-width: 768px) {
        padding: 0 auto;
        padding-top: 0;
        width: 85%;
    }
    @media (min-width: 1280px) {
    	padding: 200px 0 0 200px;
    }
}