@mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
}

@mixin nav-items-colors($color) {
    color: $color;

    @media screen and (min-width: 766px) {
        &:hover {
            background-color: $color;
        }
    }
}

// mixin to color all team member sections.
@mixin team-color-scheme($color) {
    background-color: #fff;

    .team-details {
        background: lighten($color, 10);
    }
}
