@mixin font-size($size) {
	font-size: $size + px;
	font-size: ($size / 10) + rem;
}

@mixin nav-items-colors($color) {
	color: $color;
	@media screen and (min-width: 1000px) {
		&:hover {
			background-color: $color;
		}
	}
}

@mixin team-color-scheme($color) {
	background-color: $color;
    .team-member {
        background-color: darken($color, 10%);
    }
	
	.team-member-information {
		background: $color;
	}

    .team-member-information a {
        color: lighten($color, 20%);
    }
}
