//
// Placeholders
//

// Button Blue shadow/border disable
%blue-border {
  box-shadow: none;
  outline: 0;
  -webkit-box-shadow: none;
}

// text-hidden placeholder
%text-hidden {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
