//
// Placeholders
//

// Button Blue shadow/border disable
%blue-border {
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: 0;
}

// text-hidden placeholder
%text-hidden {
	color: transparent;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
