// Variables

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Share+Tech|Muli);

// Font
$text-sans: 'Muli', sans-serif;
$text-serif: 'Share Tech', serif;

// Colors
$light-green: #24C29F; //turquesa
$background-nav: #EA8676; // rosa
$background-main-post: #E8E7E6; // gris
$background-post: #BE9583; // claro
$text-title: #493831; // cafe
$text: #f2f2f2; // gris claro

/*
#2DCDE5; //celeste
#24C29F; //turquesa
#F37C50; //naranja
#D7AE83; //beige
#363434; //negro
*/

//font types//
$title-font: "Finger Paint"; // De donde sale esto?
$text-font: "Muli";

//colors//
$title-color: #f2f2f2;
$text-color: #f2f2f2; // Tres veces esta declarado este valor!
$text-color-light: #fff;
$text-color-dark: #202020;
$link-color: #000;

// team section colors
$web-color: #C94F60;
$post-prod-color: #50A03B;
$anim-color: #19886E;
$fair-color: #D7AE83;
$admin-color: #F37C50;
$collab-color: #2583B3;
$header-title-border: #c4c4c4;

//nav colors
$nav-back-color: #171926; // 19 variables para colores, no tiene sentido!

//Text sizes//
$title-mob-size: 24;
$title-desk-size: 60;
