// Variables

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Share+Tech|Muli);

// Font
$text-sans: 'Muli', sans-serif;
$text-serif: 'Share Tech', serif;

//Text sizes//
$title-mob-size: 24;
$title-desk-size: 60;

// Color Set
$main-color:#24C29F;     //turquesa
$wooden-color: #D7AE83; //beige
$background-color : #222;
$dark-color: #363434;  //negro
$light-color: #f2f2f2;//white
$unactive-color: #8E8A8A; //gris



// Colors
$light-green: #24C29F; //turquesa
$background-nav: #EA8676; // rosa
$background-main-post: #E8E7E6; // gris
$background-post: #BE9583; // claro
$text-title: #493831; // cafe
$text: #f2f2f2; // gris claro

/*
#F37C50; //naranja
#2DCDE5; //celeste
*/

//font types//
// $title-font: "Finger Paint"; // De donde sale esto?
// $text-font: "Muli";


//colors//
$title-color: #f2f2f2;
$text-color: #f2f2f2; // Tres veces esta declarado este valor!
$text-color-light: #fff;
$text-color-dark: #202020;
$link-color: #000;

// team section colors
$cetav-color: #ED912E;
$fair-color: #50A03B;
$advisors-color: #D7AE83;
$header-title-border: #c4c4c4;

//nav colors
$nav-back-color: #171926; // 19 variables para colores, no tiene sentido!

//Text sizes//
$title-mob-size: 24;
$title-desk-size: 60;