//
// About
//

.about li {
	height: 260px;
	margin: 0 auto;
	max-width: 450px;
	position: relative;
	width: 100%;
	@media (min-width: 768px) {
		height: 290px;
		box-sizing: border-box;
		max-width: 1100px;
		margin: 50px 0;
	}
}

.about {
	margin: 0 auto;
	@media (min-width: 768px) {
		width: 480px;
		.right {
			float: right;
		}
		.left {
			float: left;
		}
	}
	@media (min-width: 1100px) {
		width: 1100px;
	}
}

.about-content h3 {
	margin: 0;
	padding: 1rem;
	position: relative;
	z-index: 3;
}

.about-content p {
	@include font-size(9);
	@media (min-width: 768px) {
		@include font-size(10);
	}
}

.about-content p:nth-child(3) {
	display: none;
	@media (min-width: 768px) {
		display: block;
	}
}

.about-content {
	height: 260px;
	max-width: 480px;
	position: absolute;
	top: 0;
	@media (min-width: 768px) {
		position: initial;
	}
}

.about-image img {
	max-width: none;
	position: absolute;
	right: 0;
}

.about-image {
	height: 260px;
	margin: 20px auto;
	max-width: 480px;
	position: relative;
	transition: opacity 1s ease-in-out;
	z-index: 1;
	@media (min-width: 768px) {
		height: initial;
		margin: 0;
		position: initial;
		transition: initial;
		z-index: initial;
	}
}

.about .about-image>:first-child {
	height: 260px;
	position: relative;
	transition: opacity 1s ease-in-out;
	width: 100%;
	z-index: 1;
	@media (min-width: 768px){
		height: initial;
		position: initial;
		transition: initial;
		z-index: initial;
	}
	&:hover {
		opacity: 0;
		@media (min-width: 768px) {
			opacity: 1;
		}
	}
}
