//
// About
//

.about {
	margin: 0 auto;
}

.about-img {
	width: 100%;
  max-width: 480px;
  height: 254px;
  display: block;
  margin: 20px auto;
}

.content-about {
  position: absolute;
}

.content-about p{
	width: 85%;
	max-width: 480px;
}