// Characters Mobile

.taps-character {
	margin: 0 auto;
	max-width: 100%;
  & li {
    border-bottom: 1px solid #ccc;
    background-color: #8E8A8A;
  }
  h3 {
    cursor: pointer;
    font-family: "Finger Paint", serif;
    text-align: right;
    padding-bottom: 100px;
    margin-right: 4%
  }
	@media (min-width: 768px) {
		display: none;
	}
}

.tap-amy {
	background: url(../img/characters/head-amy.png) no-repeat;
  background-position: 20px 53px;
}

.tap-grandpa {
	background: url(../img/characters/head-grandpa.png) no-repeat;
  background-position: 20px 53px;
}

.tap-mom {
	background: url(../img/characters/head-mom.png) no-repeat;
  background-position: 20px 53px;
}

.tap-dad {
	background: url(../img/characters/head-dad.png) no-repeat;
  background-position: 20px 25px;
}

.close-tap{
  fill: #000;
  margin: 5% 0;
  float: right;
}


.tap-info {
	background: #fff;
	color: #222;
	display: block;
	height: auto;
	max-height: 0;
	overflow: hidden;
	padding: 0 15px;
	transition: max-height .9s ease-in-out;
	width: 100%;
  & p{
    margin: 16px 0;
    width: 90%;
  }
}

.expand-tap-info {
  height: 100%;
  max-height: 480px;
}

// Characters Desktop

.characters-wrapper {
	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .4);
	height: 540px;
	margin: 0 auto;
	overflow: hidden;
	width: 900px;
	.hidden {
		display: none;
	}
}

.main-char-nav {
	background-image: url("../img/characters/family-photo.png");
	height: 540px;
	width: 900px;
	z-index: 1;
}

.char-details {
	background-color: #D7AE83;
  	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .4);
	margin-top: -695px;
	overflow: hidden;
	position: absolute;
	width: 900px;
	z-index: 2;
}

.char-nav {
	margin: 0 auto;
	padding: 2% 0;
	text-align: left;
}

.char-details .char-nav {
	text-align: center;
}

.char-nav-character {
	margin: 0 5%;
}

.character {
	background-color: inherit;
	border: none;
	height: 450px;
	margin-left: 20px;
	padding: 0 2%;
	width: 19%;
}

.controls img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.details img {
	float: left;
	margin: 0 8%;
}

.controls {
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.details {
	height: 518px;
	overflow: hidden;
	padding: 5% 8% 0 8%;
}

.back {
	left: 0;
	position: absolute;
	top: 200px;
}

.close-details {
  cursor:pointer;
  fill: #fff;
	position: absolute;
	right: 2%;
	top: 2%;
	width: 40px;
}

.foward {
	position: absolute;
	right: 0;
	top: 200px;
}

.section-character {
  display: none;
  @media (min-width: 768px) {
    display: inherit;
  }
}