.character-section {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

.characters-wrapper {
	margin: 5% auto;
	max-width: 993px;
	overflow: hidden;
}

.char-details {
	color: $light-color;
	margin: 2% auto;
	text-align: left;
	width: 80%;
	@media (min-width: 1024px) {
		height: 583px;
		max-width: 900px;
	}

	h3 {
		@include font-size(36);
		color: $main-color;
		margin-bottom: 35px;
		text-transform: uppercase;
		text-shadow: 1px 1px 4px $main-color;
	}

	h3,
	p {
		float: right;
		margin-right: 5%;
		width: 55%;
	}

	img {
		position: absolute;
		right: 62%;
		top: 4%;
	}

  span {
    display: none;
  }
}

.main-char-selection img {
	width: 100%;
}

.main-char-selection {
	max-width: 993px;
  position: relative;
}

.char-selection {
	position: absolute;
	margin: 0 auto;
	top: 75%;
	width: 100%;
}

.preview-char {
	cursor: pointer;
	display: inline-block;
	margin-right: 5%;

	h4 {
		color: $light-color;
		margin-top: 10px;
		text-align: center;
	}

	&:hover > h4 {
		color: $main-color;
	}
}

.taps-character {
	margin: 0 auto;
	max-width: 100%;

	li {
		background-color: #fff;
	}

	h3 {
		@include font-size(30);
		color: #fff;
		float: right;
		font-family: $text-serif;
		text-align: right;
		margin-top: -65px;
		margin-right: 50px;
		position: relative;
	}

	img {
		width: 100%;
	}

  .down-arrow, .up-arrow {
    margin-bottom: 5px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.tap-info {
	background: #fff;
	color: $dark-color;
	display: block;
	height: auto;
	overflow: hidden;
	padding: 0 15px;
	width: 100%;

	p {
		margin: 16px auto;
		padding: 0;
		width: 90%;
	}
}


.char-name {
	position: absolute;
	color: $dark-color;
	z-index: 0;
	cursor: pointer;

	h2 {
		@include font-size(20);
		background: url(../img/bg/tape-shape.png) no-repeat center center;
		background-size: contain;
		font-family: $hand-serif;
		transition: all .3s ease;
		overflow: hidden;
		width: 0;
	}

	.show {
		padding: 17px;
		width: 100%;
	}
}

.amy{
	left: 55%;
	top: 47%;
}

.mom{
	left: 22%;
	top: 32%;
}

.dad{
	left: 54%;
	top: 18%;
}

.gramps{
	left: 73%;
	top: 38%;
}
