//
// Characters
//

// Acordeon

.acordion-content{
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 1024px) {
    display: none;
  }
}

.block{
  color: #fff;
  padding-top: 5px;
  box-shadow: 0 1px 2px #ccc;
}

.block input[type='radio']:checked ~ .info{
  height: 250px;
  transition: .9s;
}

.block1 {
  background-color: #B4B4B4;
}

.block2 {
  background-color: #CECCCC;
}

.block3 {
  background-color: #B4B4B4;
}

.block4 {
  background-color: #CECCCC;
}

input[type='radio']{
  width: 100%;
  display: none;
}

label{
  width: 450px;
  max-width: 100%;
  cursor: pointer;
  text-align: right;
}

span{
  font-family: 'Arial';
  font-weight: bold;
  display: block;
  padding-right: 4%;
  padding-bottom: 100px;
  margin: 0;
  cursor: pointer;
  margin-right: 4%;
}

.info{
  background: #fff;
  color: #222;
  width: 100%;
  height: 0;
  padding-left: 15px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  transition: .6s;
}

.close {
    float: right;
    width: 25px;
    height: 25px;
    padding-left: 100%;
    margin-right: 4%;
    margin-top: 2%;
} 

.left-close{
  height:25px;
width:2px;
margin-left:12px;
background-color:black;
transform: rotate(45deg);
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Safari and Chrome */
Z-index:1;
}

.right-close {
height:25px;
width:2px;

background-color:black;
transform: rotate(90deg);
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari and Chrome */
Z-index:2;
}

::selection{
  background: #222;
  color: #fff;
}



// Fin Acordeon 
// Characters Desktop

.characters-wrapper {
  overflow: hidden;
  width: 100%;
  h1{
    margin:0 auto;
    width: 45%;
  }
}

.main-char-nav {
  position: absolute;
  width: 80%;
  z-index: 1;
}

.char-details {
  background-color: #5F5F5F;
  overflow: hidden;
  padding-top: 3%;
  position: absolute;
  width: 80%;
  z-index:2;
}

.char-nav {
  margin: 0 auto;
  text-align: center;
  padding: 2% 0;
}

.char-nav button {
  background-color: inherit;
  border: none;
  width: 20%;
}

.char-nav img {
  width: 80%;
}


.character {
  margin: 0 2%;
}



.details {
  overflow: hidden;
  padding: 5% 5% 0;
}

.details img {
  float: left;
  height: 200px;
  margin: 10px;
  width: 300px;
}

.hidden {
  display: none;
}

.controls {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.controls img {
  border-radius:50%; 
  height: 40px;
  width: 40px;
}

.exit {
  position:absolute;
  display: block;
  margin-bottom: 100px;
  width: 100%;
}

.back{
  position: absolute;
  left: 0px;
  top: 200px;
}

.foward {
  position: absolute;
  right: 0px;
  top: 200px;
}

.hidden {
  visibility: hidden;
}