.download-mac,
.download-win {
    text-indent: -9999px;
    height: 54px;
    width: 68px;
    border-radius: 12px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin-left: 15px;
    &:hover {
      background-color: $main-color;
    }
}

.download-section {
    display: none;

    @media (min-width: 768px) {
      display: block;
      padding-top: 50px;
      div {
        width: 438px;
        margin: 0 auto;
      }
      p, span {
        text-transform: uppercase;
        font-family: $text-serif;
        color: $light-color;
        @include font-size(30);
        vertical-align: middle;
        text-align: center;
      }
  }
}

.download-section:before{
  content: "";
  height: 23px;
  width: 100%;
  position: absolute;
  background: url(../img/bg/about-frame.png) center bottom;
  margin-top: -72px;
}
