.download-mac,
.download-win {
	border-radius: 12px;
	display: inline-block;
	height: 54px;
	margin-left: 15px;
	text-indent: -9999px;
	vertical-align: -webkit-baseline-middle;
	width: 68px;
	&:hover {
		background-color: $main-color;
	}
}

.download-section {
	display: none;

	@media (min-width: 768px) {
		display: block;
		padding-top: 50px;
		div {
			margin: 0 auto;
			width: 438px;
		}
		p,
		span {
			@include font-size(30);
			color: $light-color;
			font-family: $text-serif;
			text-align: center;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}
}

.download-section:before{
	background: url(../img/bg/about-frame.png) center bottom;
	content: "";
	height: 23px;
	margin-top: -72px;
	position: absolute;
	width: 100%;
}
