.download-mac,
.download-win {
	border-radius: 8px;
	display: inline-block;
	height: 52px;
	margin: 10px 0 0 40px;
	text-indent: -9999px;
	vertical-align: -webkit-baseline-middle;
	width: 68px;
	@media (min-width: 960px) {
		margin: 0 0 0 15px;
	}
	&:hover {
		background-color: $main-color;
	}
}

.download-section {
	display: block;
	padding: 50px 0;

	div {
		margin: 0 auto;
		width: 265px;
		text-align: center;
		@media (min-width: 960px) {
			width: 550px;
		}
	}
	p,
	span {
		@include font-size(30);
		color: $light-color;
		font-family: $text-serif;
		text-align: center;
		text-transform: uppercase;

	}

  span {
    color: $main-color;
    vertical-align: middle;
  }
}

.download-section:before {
	background: url(../img/bg/paper-frame.png) center bottom;
	content: "";
	height: 23px;
	margin-top: -72px;
	position: absolute;
	width: 100%;
}
