footer {
	clear: both;
	color: #fff;
	height: 400px;
	overflow: hidden;
	background: #A5BBD1 url(../img/bg/footer-mobile.png) center bottom repeat-x;
	@media (min-width: 1100px){
		height: 600px;
		background: #A5BBD1 url(../img/bg/footer.png) center bottom repeat-x;
	}
}
footer a {
	border-bottom: 2px solid #F2CD77;
	color: #fff;

	&:hover {
		border-color: #fff;
	}
}

footer p  {
	@include font-size(16);
	font-family: $text-sans;
	margin: 0;

	@media (min-width: 768px){
		@include font-size(20);
	}
}

.footer-content {
	margin: 200px auto;
	max-width: 650px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	text-align: center;
	@media (min-width: 1100px){
		margin: 400px auto;
	}
}

.footer-game {
	background-color: transparent;
	color: #fff;
}
