.footer {
    background: url(../img/footer.png);
    background-color: #d2d2d2;
    color: #fff;

    &-game {
    background: url(../img/footer.png);
    color: #fff;
    }
}

.footer-content {
    margin: 200px auto 0;
    max-width: 650px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

footer a {
    color: #fff;
    border-bottom: 2px solid #F2CD77;

    &:hover {
        border-color: #fff;
    }
}

footer p  {
    @include font-size(16);
    font-family: $text-sans;
    margin: 0;

    @media (min-width: 768px){
        @include font-size(20);
    }
}
