//
// Gallery
//

// Slider Mobile

.section-slider img{
  width: inherit;
  max-width: 100%;
  height: auto;
}

.section-slider{
  width: 100%;
  padding: 0;
  @media (min-width: 1024px) {
    display: none;
  }
}

.slider{
	width: 100%;
	margin: 0;
	padding: 0;
}
.slider-content{
  width: 100%;
  display: none;
}

.slider-image{
  width: 100%;
  height: 610px;
}
.title{
  width: 100%;
  text-align: center;
  margin: 0;
}
.first{
  display: block;
}