//
// Header
//

header {
	background-color: #d2d2d2;
	height: auto;
	overflow: hidden;
	padding-bottom: 40px;
	@media (min-width: 1024px) {
		padding-bottom: 80px;
	}
}

header p {
	text-align: center;
}

.lang-select li {
	display: inline-block;
}

.lang-select {
	float: right;
	margin: 2% 3%;
}

.play {
	background: url("../img/play.png") no-repeat;
	background-size: cover;
	display: block;
	height: 55px;
	margin: 15px auto;
	width: 55px;
}
