header {
	height: auto;
	overflow: hidden;
	padding-bottom: 40px;
}

header p {
	@include font-size(18);
	color: $light-color;
	font-family: $text-serif;
	text-align: center;
	text-shadow: 0 0 10px $dark-color;
	text-transform: uppercase;
}

.header-background {
	background: url(../img/header.png) no-repeat center bottom;
	background-size: cover;

	@media (min-width: 1024px) {
		height: 770px;
		padding-bottom: 80px;
	}
}

.header-juego {
	background: transparent;
}

.lang-select li {
	display: inline-block;
}

.lang-select {
	float: right;
	margin: 2% 3%;
}

.play {
	background: url("../img/icons/play.png") no-repeat;
	background-size: cover;
	display: block;
	height: 85px;
	margin: 15px auto;
	width: 85px;
}

// Credits Header
.main-header {
	background: url("../img/header-banner.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 150px 0 0;
	text-align: center;

	h1{
		border-bottom: 3px solid $light-color;
		margin: 0 auto;
		width: 85%;

		@media screen and (min-width: 1000px) {
			width: 50%;
		}
	}
}

.brief {
	@include font-size(18);
	background-color: rgba(255, 255, 255, .1);
	box-sizing: border-box;
	color: $light-color;
	font-family: $text-serif;
	margin: 100px auto;
	padding: 20px;
	width: 60%;

	@media screen and (min-width: 1000px) {
		@include font-size(24);
		width: 40%;
	}
}
