.content-history {
	margin: 20px auto;
	max-width: 600px;
}

.section-history h2 {
	margin: 0;
}

.section-history p {
	line-height: 22px;
	padding: 18px 0 0 0;
}

.section-history {
	background-image: url("../img/paper-pattern.png");
	box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .4);
	margin: 50px auto;
	padding: 3%;
	width: 85%;
	@media (min-width: 768px) {
		/* High-end resolutions */
		min-width: 590px;
		padding: 4%;
		width: 46%;
	}
}
