// Game Page navigation
.game-nav {
    display: none;

    a {
        @include font-size(30);
        color: $light-color;
        font-family: $text-serif;
        line-height: 24px;
        position: relative;
        text-decoration: none;
        text-shadow: 1px 1px 4px $light-color;
        text-transform: uppercase;

        &:before, &:after {
            content: '';
            position: absolute;
            transition: transform .3s ease;
        }

        &:before {
            background: $main-color;
            bottom: 0;
            box-shadow: 10px 10px 10px $main-color;
            height: 2px;
            left: 0;
            transform:  scaleX(0);
            width: 100%;
        }

        &:hover:before {
            transform:  scaleX(1);
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1280px) {
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 0 10px 15px 5px rgba(0, 0, 0, .5);
        display: block;
        width: 100%;
    }

    @media only screen and (min-width: 1280px) {
        display: block;
        position: fixed;
    }
}

.game-nav ul {
    text-align: center;
    
    li {
        height: 44px;
        line-height: 24px;
        margin: 30px 40px;
       
        @media (min-width: 768px) {
            display: inline-block;
        }
        @media (min-width: 1280px) {
            display: block;
        }
    }
}

.list-game {
    text-align: center;
}

.list-game-item {
    margin: 20px 40px;

    @media (min-width: 768px) {
        display: inline-block;
    }

    @media (min-width: 1280px) {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .nav-sticky {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
        position: fixed;
        top: 0;
        z-index: 2;
    }
}
