.list-lang ul {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

.list-lang li {
    display: inline-block;
    float: left;
    line-height: 50px;
    padding-bottom: 100px;
    width: 50%
}

.list-lang-item a, .select-lang {
    @include font-size(38);
    color: $light-color;
    font-family: $text-serif;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px $light-color;

    &:before, &:after {
        content: '';
        position: absolute;
        transition: transform .3s ease;
    }

    &:before {
        background: $main-color;
        bottom: 0;
        box-shadow: 10px 10px 10px $main-color;
        height: 2px;
        left: 0;
        transform:  scaleX(0);
        width: 100%;
    }

    &:hover:before {
        transform:  scaleX(1);
    }
}

.selected > a:before {
    transform: none;
}

.select-lang {
    margin: 2% 4% 0 0;
    position: absolute;
    right: 0;
}
