.content-lang {
    margin-top: 4%;
    position: absolute;
    right: 18%;

    @media(min-width: 768px){
        float: right;
        margin: 3% 4% 0 0;
        position: inherit;
    }
}

.lang-select {
    float: right;
    margin: 2% 3%;
}

.lang-select li {
    display: inline-block;
}

.list-lang {
    list-style: none;
    position: absolute;
    z-index: 1;

    @media(min-width: 768px) {
        position: static;
    }
}

.list-lang-item {
    border: 3px solid $main-color;
    cursor: pointer;
    left: 0;
    padding: 8px;
    position: absolute;
    text-align: center;
    top: -11px;
    transition: all 1s;

    @media(min-width: 768px){
        display:inline-block;
        position: static;
    }
    
    &.selected {
        background: #24C29F;
        z-index: 3;
        
        a {
            color: #fff;
            text-shadow: 1px 1px 4px $light-color;
        }
    }
}

.list-lang-item a {
    @include font-size(18);
    color: #24C29F;
    font-family: $text-serif;
    text-decoration: none;
    text-shadow: 1px 1px 4px $main-color;
    text-transform: uppercase;
}

.list-lang li:first-child + li {
    transform: rotate(10deg);

    @media(min-width: 768px) {
        transform: rotate(0deg);
    }
}

.list-lang li:last-child {
    transform: rotate(10deg);

    @media(min-width: 768px) {
        transform: rotate(0deg);
    }
}


.lang-item-position-0 {
    top: 42px;
}

.lang-item-position-1 {
    top: 96px;
}

.lang-item-position-2 {
    top: 150px;
}

.lang-item-position-3 {
    top: 205px;
}