.main-nav {
	display: block;
  @media (min-width: 768px) {
    margin: 2% 3%;
  }
}

.main-nav li{
	display: inline-block;
  font-size: 20px;
  margin-right: 15px;
  a{
    height: 80px;
    display: inline-block;
    vertical-align: middle;
  }
  @media (min-width: 1024px) {
    
  }
}