.logo {
	float: left;
}

.main-nav ul {
	@media (min-width: 768px) {
		height: 178px;
	}
}

.main-nav {
	display: block;
	margin: 0 5%;
	@media (min-width: 768px) {
		margin: 2% 4%;
	}
}

.logo img {
	display: none;
	@media (min-width: 768px) {
		display: inline-block;
	}
}
.main-nav li {
	@include font-size(12);
	display: inline-block;
	margin-left: 15px;
	line-height: 89px;
	a {
		display: inline-block;
	}
}

// Estilos para el menu de Juegos

.game-nav {
    display: none;
	& a {
	    @include font-size(16);
	    font-family: $text-serif;
	}
	@media only screen and (min-width: 768px) and (max-width: 1280px) {
    position: fixed;
		background-color: #FFF;
		display: block;
		left: 0;
		margin-top: 130px;
		top: 0;
		width: 100%;
		z-index: 2;
  	}
  	@media only screen and (min-width: 1280px) {
        display: block;
		position: fixed;
  	}
}

.list-game {
	text-align: center;
}

.list-game-item {
	margin: 20px 40px;
	@media (min-width: 768px) {
		display: inline-block;
  	}
  	@media (min-width: 1280px) {
		display: block;
  	}
}

// Estilos para el menu de idiomas

.content-lang {
	float: right;
	margin: 4% 22%;
	@media(min-width: 768px){
		margin: 2% 4%;
	}
}

.list-lang {
	list-style: none;
	position: absolute;
	z-index: 1;
	@media(min-width: 768px){
		position: inherit;
	}
}

.list-lang-item a {
	@include font-size(10);
	color: #515151;
	text-decoration: none;
}

.list-lang-item {
	background: #fff;
	border: 3px solid #515151;
	cursor: pointer;
	left: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 0;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
	@media(min-width: 768px){
		display:inline-block;
		position: inherit;
	}
}

.list-lang li:first-child + li {
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
	transform: rotate(10deg); /* IE 10, Fx 16+, Op 12.1+ */
	@media(min-width: 768px){
		/* High-end resolutions */
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
		transform: rotate(0deg); /* IE 10, Fx 16+, Op 12.1+ */
	}
}

.list-lang li:last-child {
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
	transform: rotate(10deg); /* IE 10, Fx 16+, Op 12.1+ */
	@media(min-width: 768px){
		/* High-end resolutions */
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
		transform: rotate(0deg); /* IE 10, Fx 16+, Op 12.1+ */
	}
}

.close-lang {
    border: 3px solid #515151;
    cursor: pointer;
    position: absolute;
    padding: 2px 5px;
    stroke: #000;
    @media(min-width: 768px) {
        display: none;
    }
}

.position0 {
	top: 55px;
}

.position1 {
	top: 110px;
}

.position2 {
	top: 165px;
}

.position3 {
	top: 220px;
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
	transform: rotate(-10deg); /* IE 10, Fx 16+, Op 12.1+ */
	@media(min-width:768px){
		/* High-end resolutions */
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
		transform: rotate(0deg); /* IE 10, Fx 16+, Op 12.1+ */
	}
}

.position4 {
	top: 220px;
}

.selected a {
	color: #fff;
}

.selected {
	background: #515151;
	z-index: 3000;
}
