//video header general styles
.main-video {
    width: 100%;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
}

.header-lightbox-video {
    transition: .6s;
    margin: 0 auto;
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    display: block;
    height: 100%;
    left: 0;
    padding: 5% 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;

    @media(min-width: 1024px){
    height: 850px;
    }
}

.ytplayer {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    @media(min-width: 768px){
    padding-bottom: 70px;
    }
}

.header-lightbox-video iframe, 
.header-lightbox-video object, 
.header-lightbox-video embed {
    position: relative;
    top: 20px;
    width: 100%;
    height: 240px;

    @media(min-width: 768px) {
        top: 70px;
        width: 100%;
        height: 400px;
    }

    @media(min-width: 768px) { // este bloque sobreescribe el anterior, cual queda?
        top: 70px;
        width: 640px;
        height: 420px;
    }
}

.close-video-modal {
    right: 0;
    margin: 2%;
    top: 0;
    position: absolute;
    z-index: 3;
}

::selection{
    background: #222;
    color: #fff;
}

.non-visible{
    display: none;
}
