.embed-container {
	height: 0;
	max-width: 100%;
	overflow: hidden;

	@media (min-width: 1024px) {
		height: 80%;
		margin: 0 auto;
		max-height: 950px;
		max-width: 880px;
		padding-bottom: 0;
		position: relative;
	}
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
