.working-prototype-section {
	background: $wooden-color;
	margin: 180px 0 50px;
	padding: 15px 0;
	width: 100%;

	&:before,
	&:after {
		background: url(../img/bg/paper-frame.png) center bottom;
		content: "";
		height: 23px;
		position: absolute;
		width: 100%;
	}

	&:before {
		margin-top: -20px;
		transform: rotate(180deg);
	}

	p {
		color: $dark-color;
		line-height: 22px;
		margin: 0 auto;
		padding: 16px 0;
		width: 75%;

		strong {
			text-shadow: 0 0 0 $dark-color;
		}
	}

	@media (min-width: 768px) {
		-webkit-backface-visibility: hidden;
		background: url("../img/bg/history-wrapper.png") no-repeat;
		background-size: 100% 100%;
		margin: 100px auto 0;
		min-width: 590px;
		padding: 30px 0;
		text-align: center;
		transform: rotate(4deg);
		width: 65%;

		p {
			padding-bottom: 16px;
		}

		&:before,
		&:after {
			background: none;
			height: 0;
			position: absolute;
			width: 0;
		}

		&:before {
			content: url(../img/bg/tape-shape.png);
			left: -30px;
			margin-top: 0;
			top: 35px;
			transform: rotate(-38deg);
		}

		&:after {
			bottom: 15px;
			content: url(../img/bg/tape-shape.png);
			right: 83px;
			transform: rotate(-22deg);
		}
	}
}
